.tp {
    text-align: center;
    margin: 5vw 0 5vw  0;
    color: #007bff;
    font-weight: bold;
}
.tp1 {
  text-align: center;
  margin: 5vw 0 0  0;
  color: #007bff;
  font-weight: bold;
}

/* form */
/* Styles for the contact form */
.contact-form-container {
    max-width: 500px;
    margin: 50px auto;
  }
  
  .contact-form {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form .form-group {
    margin-bottom: 20px;
  }
  
  .contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .contact-form input[type="email"],
  .contact-form input[type="text"],
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form textarea {
    resize: vertical;
  }
  
  .contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }
  
  @media screen and (max-width: 600px) {
    .contact-form-container {
      width: 90%;
    }
  }
  .fot {
    margin-top: 90px;
  }
  .txt {
    display: flex;
    justify-content: center;
  }
.container-fluid{
  background-color: #90a5ba;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  
}

.col-lg-6 h1 span{
  color: #064384;
}

















/* background colour */
  /* .container-fluid{
    background-color: #a5deff;
  }
  .hero{
    background: #78A083;
  }
 .projects{
  background-color:#78A083;
 }
 .resumes{
  background-color:#78A083;
 }
 .contacts{
  background-color:#78A083;
 } */